* {
  margin: 0;
  padding: 0;
  /* Box-Sizing: https://planflow.dev/blog/what-is-box-sizing-in-css-how-does-it-work */
  box-sizing: border-box;
}

body {
  background: black;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#canvas1 {
  border: 5px solid white;
}

.controls {
  display: flex;
}

/* Selector Types: https://www.cssportal.com/blog/what-does-and-do-in-css/ */
.controls > input {
  width: 60%;
}

.controls > label {
  font-size: 15px;
  color: white;
  width: 35%;
}
